<div class="stu-container">
	<div class="form-container callback-container">
		<div class="info-card">
			<h1>家长电话跟进记录</h1>
			<div class="stu-info">
				<table>
					<tr>
						<td width="560">学生姓名: {{callback.stuInfo.stu_name}}</td>
						<td width="560">课程: {{callback.stuInfo.course_name}}</td>
					</tr>
					<tr>
						<td width="560">开始时间: {{callback.stuInfo.start_date}}</td>
						<td width="560">结束时间: {{callback.stuInfo.end_date}}</td>
					</tr>
				</table>
			</div>
			<div class="callback-item" ng-repeat="callback in callback.callbacks">
                <label>第 {{($index+1)*10}} 节课 教师评论</label>
                <textarea disabled>{{callback.teacher_comment}}</textarea>
                <label>工作人员翻译</label>
                <textarea ng-model="callback.translation" placeholder="工作人员翻译"></textarea>
                <lebel>家长谈话记录</lebel>
                <textarea ng-model="callback.parent" placeholder="家长谈话记录"></textarea>
                <div class="submit-btn"><button type="button" ng-click="submitCallback($index)">保存</button></div>
            </div>
            
		</div>		
	</div>
</div>