<div class="stu-container">
	<div class="btns">
		<div my-select select-options="options.schools" which-school="filter.selectSchool" send-filter="sendFilter()"></div>
		<div my-select select-options="options.bus_number" which-school="filter.selectBus" send-filter="sendFilter()"></div>
		<div my-select select-options="options.weeks" which-school="filter.week" send-filter="sendFilter()"></div>
		<div select-item select-options="options.years" which-item="filter.selectYear" send-filter="sendFilter()"></div>
		<div select-item select-options="options.sessions" which-item="filter.selectSession" send-filter="sendFilter()"></div>
	</div>
	<div class="table-container">
		<table class="table table-striped" id="table">
			<thead>
				<tr>
                    <th width="140">学生姓名</th>
					<th width="240">车牌号码</th>
					<th width="160">地点</th>
					<th width="100">接送</th>
					<th width="120">接送次数</th>
					<th width="200">时间</th>
					<th width="200">操作</th>
				</tr>		
		    </thead>
		    <tbody>
		    	<tr ng-repeat="item in stuBus">
                    <td>{{item.stu_name}}</td>
		    		<td><p ng-repeat="bus_num in item.bus_number track by $index">{{bus_num}}</p></td>
		    		<td><p ng-repeat="place in item.place track by $index">{{place}}</p></td>
		    		<td><p ng-repeat="type in item.type track by $index">{{type | busType}}</p></td>
		    		<td><p ng-repeat="count in item.count track by $index">{{count}}</p></td>
		    		<td><p ng-repeat="week in item.weekdays track by $index">{{week}}</p></td>
		    		<td class="operate-btns">
		    			<p ng-repeat="serid in item.ser_id track by $index"><a class="btn-delete" href="javascript:void(0);" ng-click="deleteBus(serid)">删除</a></p>
		    		</td>
		    	</tr>
		    </tbody>
		</table>
	</div>
	<div class="btns">
	    <div class="add-btn"><a href="#/addStuToBus">添加学生</a></div>
		<div class="add-btn"><a href="#/busStuAttendList">考勤</a></div>
	</div>
</div>