<div class="analysis-container">
	<div class="btns">
		<div my-select select-options="options.schools" which-school="filter.school" send-filter="sendFilter()"></div>
		<div class="link-select" select-item select-options="options.yearMonth" which-item="filter.startTime" send-filter="sendFilter()"></div>
		<i class="to-icon-select"></i>
		<div select-item select-options="options.yearMonth" which-item="filter.endTime" send-filter="sendFilter()"></div>
		<div select-item select-options="options.year" which-item="filter.year" send-filter="sendFilter()"></div>
		<div my-select select-options="options.busNumber" which-school="filter.busNumber" send-filter="sendFilter()"></div>
	</div>
	<div class="table-container">
		<table class="table table-striped" id="table">
			<thead>
				<tr>
					<td width="200">校区</td>
					<td width="160">年份</td>
					<td width="160">学期</td>
					<td width="200">校车车牌</td>
					<td width="160">预订人数</td>
					<td width="160">预订次数</td>
					<td width="160">总价</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data.list">
					<td>{{item.school}}</td>
					<td>{{item.year}}</td>
					<td>{{item.session}}</td>
					<td>{{item.bus_number.name}}</td>
					<td>{{item.order_num}}</td>
					<td>{{item.order_times}}</td> 
					<td>{{item.total_price}}</td> 
				</tr>
			</tbody>
		</table>
		<p class="total-cal"><span>合计: ￥{{data.total}}</span></p>
	</div>
</div>