<div class="analysis-container">
	<div class="btns">
		<div my-select select-options="options.schools" which-school="filter.selectSchool" send-filter="sendFilter()"></div>
		<div select-item select-options="options.year" which-item="filter.year" send-filter="sendFilter()"></div>
		<div select-item select-options="options.session" which-item="filter.session" send-filter="sendFilter()"></div>
		<div class="link-select" select-item select-options="options.yearMonth" which-item="filter.startTime" send-filter="sendFilter()"></div>
		<i class="to-icon-select"></i>
		<div select-item select-options="options.yearMonth" which-item="filter.endTime" send-filter="sendFilter()"></div>
	</div>
	<div class="btns">
		<div link-select select-options="options.courseType" first-one="filter.courseType" second-one="filter.course" send-filter="sendFilter()"></div>
	</div>
	<div class="table-container">
		<table class="table table-striped hover-table" id="table">
			<thead>
				<tr>
					<td width="150">中文名</td>
					<td width="150">英文名</td>
					<td width="150">课程类型</td>
					<td width="150">课程名称</td>
					<td width="150">预订次数</td>
                    <td width="150">已上次数</td>
					<td width="150">总价</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data.list">
					<td>{{item.stu_name}}</td>
					<td>{{item.stu_e_name}}</td>
					<td>{{item.course_type}}</td>
					<td>{{item.course_name}}</td>
					<td>{{item.order_time}}</td>
					<td>{{item.finish_time}}</td>
					<td>{{price}}</td>
				</tr>
			</tbody>
		</table>
		<p class="total-cal"><span>合计: ￥{{data.total}}</span></p>
	</div>
</div>