<div class="analysis-container">
	<div class="btns">
		<div my-select select-options="options.schools" which-school="filter.school" send-filter="sendFilter()"></div>
		<div class="link-select" select-item select-options="options.yearMonth" which-item="filter.startTime" send-filter="sendFilter()"></div>
		<i class="to-icon-select"></i>
		<div select-item select-options="options.yearMonth" which-item="filter.endTime" send-filter="sendFilter()"></div>
		<div select-item select-options="options.year" which-item="filter.year" send-filter="sendFilter()"></div>
		<div my-select select-options="options.busNumber" which-school="filter.busNumber" send-filter="sendFilter()"></div>
		<div class="add-btn"><a href="#/schBusIncome">整体校车收入</a></div>
	</div>
	<div class="table-container">
		<table class="table table-striped" id="table">
			<thead>
				<tr>
					<td width="150">中文名</td>
					<td width="100">英文名</td>
					<td width="80">预订次数</td>
					<td width="100">完成次数</td>
					<td width="120">总价</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data.list">
					<td>{{item.stu_name}}</td>
					<td>{{item.stu_e_name}}</td>
					<td>{{item.order_time}}</td>
					<td>{{item.finish_time}}</td>
					<td>{{item.total_price | pay_or_not2}}</td>
				</tr>
			</tbody>
		</table>
		<p class="total-cal"><span>合计: ￥{{data.total}}</span></p>
	</div>
</div>