<div class="analysis-container">
	<div class="btns">
		<div my-select select-options="options.schools" which-school="filter.selectSchool" send-filter="sendFilter()"></div>
		<div my-select select-options="options.type" which-school="filter.type" send-filter="sendFilter()"></div>
		<div class="link-select" select-item select-options="options.yearMonth" which-item="filter.startTime" send-filter="sendFilter()"></div>
		
		<!-- <div class="link-select" date-select which-date="filter.startTime" send-filter="sendFilter()"></div> -->
		<i class="to-icon-select"></i>
		<div select-item select-options="options.yearMonth" which-item="filter.endTime" send-filter="sendFilter()"></div>
		<!-- <div date-select which-date="filter.endTime" send-filter="sendFilter()"></div> -->
	</div>
	<div class="table-container">
		<table class="table table-striped" id="table">
			<thead>
				<tr>
					<td width="200">校区</td>
					<td width="200">教师类型</td>
					<td width="200">教师姓名</td>
					<td width="200">课时数</td>
					<td width="200">工资</td>
					<td width="200">时薪比例</td>
					
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data">
					<td>{{item.school}}</td>
					<td>{{item.type}}</td>
					<td>{{item.name}}</td>
					<td>{{item.course_num}}</td>
					<td>{{item.salary}}</td>
					<td>{{item.scale}}</td> 
				</tr>
			</tbody>
		</table>
	</div>
</div>