<!DOCTYPE html>
<html lang="en" ng-app="homeApp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" >
	<title>英维国际教育</title>
	<link rel="shortcut icon" type="image/x-icon" href="images/meta_logo.jpg">
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/main.min.css">

	<style>
        .page-list .pagination {float:left;}
        .page-list .pagination span {cursor: pointer;}
        .page-list .pagination .separate span{cursor: default; border-top:none;border-bottom:none;}
        .page-list .pagination .separate span:hover {background: none;}
        .page-list .page-total {float:left; margin: 25px 20px;}
        .page-list .page-total input, .page-list .page-total select{height: 26px; border: 1px solid #ddd;}
        .page-list .page-total input {width: 40px; padding-left:3px;}
        .page-list .page-total select {width: 50px;}
    </style>

</head>
<body ng-controller="homeApp">
<div class="mask"></div>
<div class="wrapper">
	<header class="header"  ng-controller="homeApp.header" id="header">
		<div class="w-container">
			<div class="logo-container">
				<a href="#"><img src="images/logo.jpg" alt=""></a>
			</div>
			<nav class="nav-container">
				<ul id="nav">
					<li role="presentation" class="active-li" ng-click="underline(0)">
						<a href="#/{{user.id}}">Home Page</a>
						<ul>
							<li ng-click="underline(0)"><a href="#/{{user.id}}">月历</a></li>
							<li ng-click="underline(0)"><a href="#/applications">申请表</a></li>
						</ul>
					</li>
					<li role="presentation" ng-click="underline(1)">
						<a href="#/stuList">Student Management</a>
						<ul>
							<li ng-click="underline(1)"><a href="#/stuList">学生基本信息</a></li>
							<li ng-click="underline(1)"><a href="#/courseList">课程信息</a></li>
							<li ng-click="underline(1)"><a href="#/stuBusList">司机表</a></li>
						</ul>
					</li>
					<li role="presentation" ng-click="underline(2)"><a href="#/eduCourseList">Teacher Management</a></li>
					<li role="presentation" ng-click="underline(3)" >
						<a href="#/employees">Head Office Only<span class="birth-alert" ng-hide="!birthday">生日</span></a>
						<ul>
							<li ng-click="underline(3)"><a href="#/employees">员工管理</a></li>
							<li ng-click="underline(3)"><a href="#/emp_birth">员工生日</a></li>
							<li ng-click="underline(3)"><a href="#/schoolManage">校区管理</a></li>
						</ul>
					</li>
					<li role="presentation" ng-click="underline(4)">
						<a href="#/payList">Financial</a>
						<ul>
							<li ng-click="underline(4)"><a href="#/payList">支出记录信息</a></li>
							<li ng-click="underline(4)"><a href="#/incomeList">收入记录信息</a></li>
							<li ng-click="underline(4)"><a href="#/appList">代付款申请表</a></li>
							<li ng-click="underline(4)"><a href="#/daily">财务日报</a></li>
							<li ng-click="underline(4)"><a href="#/account">账户余额</a></li>
						</ul>
					</li>
					<li role="presentation" ng-click="underline(5)">
						<a href="#">Statistics</a>
						<ul>
							<li ng-click="underline(5)"><a href="#/teaSalary">教师工资统计</a></li>
							<li ng-click="underline(5)"><a href="#/schInfo">校区情况</a></li>
							<li ng-click="underline(5)"><a href="#/schFeeIncome">课程收入</a></li>
							<li ng-click="underline(5)"><a href="#/schBookIncome">书费收入</a></li>
							<li ng-click="underline(5)"><a href="#/schBusIncome">校车收入</a></li>
						</ul>
					</li>
					<li role="presentation" ng-click="underline(6)">
						<a href="#">Application</a>
						<ul>
							<li ng-click="underline(6)"><a href="#/login">Log In</a></li>
							<li ng-click="underline(6)"><a href="#/modifyPwd">Password Change</a></li>
							<li><a href="javascript:void(0);" ng-click="logOut()">Log Out</a></li>
						</ul>
					</li>
				</ul>
				<div style="width: 120px; height: 80px; line-height: 80px; float: right;">
					Hello!  {{user.user_name}} 
				</div>
			</nav>
			
		</div>
	</header>
	<div class="main">
		<div class="w-container" ng-view="">
			
		</div>
	</div>
</div>
<footer id="footer">
	<p>Copyright &copy; 广州艾孚特人力资源有限公司 All Rights Reserved | <a href="http://www.miitbeian.gov.cn">粤ICP备15032793号</a></p>
</footer>

	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/moment/min/moment.min.js"></script>
	
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../node_modules/angular-route/angular-route.min.js"></script>
    <script src="../node_modules/angular-cookies/angular-cookies.min.js"></script>
    <script src="../bower_components/underscore/underscore-min.js"></script>

    <script src="./js/public/public.js"></script>
    <script src="./js/min-controller/main.js"></script>

	 <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>
</body>
</html>