<div class="home-container">
	<div class="apply-container">
		<h2>付款申请审核单</h2>
		<div id="tables">
			<table class="table table-bordered table-1" width="1200">
				<tr>
					<td>编号: 89757</td>
					<td>日期: 2016-06-06</td>
				</tr>
				<tr>
					<td>校区: 珠江新城</td>
					<td>申请人: 罗半仙</td>
				</tr>
				<tr>
					<td colspan="2">标题: <input type="text" /></td>
				</tr>
			</table>
			<table class="table table-bordered table-2" width="1200">
				<tr class="thead">
					<td>内容</td>
					<td width="145">单价</td>
					<td width="145">数量</td>
					<td width="145">单位</td>
					<td width="145">总价</td>
				</tr>
				<tr>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
					<td><input type="text" /></td>
				</tr>
			</table>
			<div class="date-container">
				<p class="date-row">
					<label>款项所属期间: </label>
					<input type="text" /> 年
					<input type="text" /> 月
					<input type="text" /> 日
				</p>
				<p class="date-row">
					<label>到期支付日: </label>
					<input type="text" /> 年
					<input type="text" /> 月
					<input type="text" /> 日
				</p>
			</div>
			<p>总经理: <input type="text"></p>
			<textarea>审批意见: </textarea>
			<footer>
				<div class="footer-logo"></div>
			</footer>
		</div>
	</div>	
	<div class="submit-btn"><button type="button" ng-click="submitCom()">保存</button></div>
</div>