<div class="home-container">
	<div class="add-notice-container">
		<div class="form-container">
			<form name="noticeForm" ng-submit="submitData(noticeForm.$valid)">
				<div class="input-row">
					<label>标题:</label>
					<div class="input-text"><input type="text" name="title" ng-model="formData.ntc_title" ng-maxlength=30 required/></div>
					<span ng-show="noticeForm.title.$dirty && noticeForm.title.$invalid" class="text-danger">(字数不超过10字)</span>
				</div>
				<div class="input-row">
					<label>校区:</label>
					<div my-select which-school="formData.ntc_sch" select-options="options.schools"></div>
				</div>
				<div class="input-row">
					<label>时间:</label>
					<div class="link-select" date-select which-date="formData.ntc_start"></div>
					<i class="to-icon-select"></i>
					<div class="link-select" date-select which-date="formData.ntc_end"></div>
				</div>
				<div class="textarea-content">
	                <label>内容:</label>
	                <textarea name="content" ng-model="formData.ntc_content"></textarea>
	            </div>
	            <div class="submit-btn"><button type="submit" ng-disabled="noticeForm.$invalid">发布</button></div>
            </form>
		</div>
	</div>
</div>