<div class="edu-container">
	<div class="table-container">
		<table class="table table-striped" id="table">
			<thead>
				<tr>
					<th width="300">Course</th>
					<th width="300">Student Number</th>
					<th width="600">Time</th>
				</tr>		
		    </thead>
		    <tbody>
		    	<tr ng-repeat="course in courseList">
		    		<td><a href="#/eduStuList/{{course.course_id}}">{{course.course_name}}</a></td>
		    		<td>{{course.stu_num}}</td>
		    		<td><p ng-repeat="time in course.course_time">{{time}}</p></td>
		    	</tr>
		    </tbody>
		</table>
	</div>
</div>