<div class="edu-container">
	<div class="info-header">
		<span>Course: {{data.courseInfo.course_name}}</span>
		<span>Term: {{data.courseInfo.course_year}} {{data.courseInfo.course_session}}</span>
		<span>Schedule: {{data.courseInfo.course_time}}</span>
	</div>
	<div class="btns">
	    <div class="add-btn"><a href="#/todayClass/{{data.courseInfo.course_id}}">Daily Record</a></div>
	</div>
	<div class="table-container">
		<table class="table table-striped" id="table">
			<thead>
				<tr>
					<th width="200">Student No.</th>
					<th width="200">Chinese Name</th>
					<th width="200">English Name</th>
					<th width="200">Class Times</th>
					<th width="200">Callback</th>
					<th width="200">Report</th>
				</tr>		
		    </thead>
		    <tbody>
		    	<tr ng-repeat="stu in data.stuList">
		    		<td>{{stu.stu_id}}</td>
		    		<td><a href="#/teaStuInfo/{{stu.stu_id}}">{{stu.stu_name}}</td>
		    		<td><a href="#/teaStuInfo/{{stu.stu_id}}">{{stu.stu_eng_name}}</td>
		    		<td>{{stu.finish_num}}/{{stu.sum_count}}</td>
		    		<td><a ng-class="{'warning': stu.callback_status == 0}" href="#/teaCallback/{{data.courseInfo.course_id}}/{{stu.stu_id}}">callback</a></td>
		    		<td><a href="#/teaReport/{{data.courseInfo.course_id}}/{{stu.stu_id}}" target="_blank">report</a></td>
		    	</tr>
		    </tbody>
		</table>
	</div>
</div>