<div class="stu-container">
	<div class="info-header">
		<span>Course: {{courseStuInfo.courseInfo.course_name}}</span>
		<span>Teacher: {{courseStuInfo.courseInfo.course_teacher}}</span>
		<span>Term: {{courseStuInfo.courseInfo.course_session}} {{courseStuInfo.courseInfo.course_year}}</span>
		<span>Time: {{courseStuInfo.courseInfo.course_weekday | numberToWeek}} {{courseStuInfo.courseInfo.start_time}}~{{courseStuInfo.courseInfo.end_time}}</span>
	</div>
	<!-- <div class="btns">
	    <span>{{courseStuInfo.course_date}}</span>
		<div class="add-btn"><a href="javascript:void(0);">全勤</a></div>
	</div> -->
	<div class="table-container">
		<table class="table table-striped" id="table">
			<thead>
				<tr>
					<th width="300">Name</th>
					<th width="300">Class Times</th>
					<th width="300">Score</th>
					<th width="300">Operation</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="stu in courseStuInfo.stuInfo">
					<td>{{stu.stu_name}}</td>
					<td>{{stu.finish_num}}/{{stu.sum_count}}</td>
					<td class="input-td" ng-class="{'editing': stu.isEditing}"><input type="text" ng-model="stu.homework_state" ng-disabled="!stu.isEditing"></td>
					<td class="operate-btns">
		    			<a href="javascript:void(0);" ng-click="modify($index)">{{'Edit' | editing: stu.isEditing}}</a>
		    		</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>