<div class="edu-container">
	<div class="stu-info">
		<div class="sidebar-container">
	       <ul>
	        	<li ng-repeat="item in sidebar" ng-class="{'active-tab': item.default}" sidebar item-name="item.name" item-link="item.link"></li>
	        </ul>
	    </div>
	    <div class="form-container">
	    	<div class="info-card" id="basic">
	    		<div class="upload-container">
                	<img src="{{stuInfo.stu_basic.stu_pic}}"/>
            	</div>
	            <div class="input-row">
	                <label>Chinese Name</label>
	                <div class="input-text">{{stuInfo.stu_basic.stu_zh_name}}</div>
	            </div>
	            <div class="input-row">
	                <label>English Name</label>
	                <div class="input-text">{{stuInfo.stu_basic.stu_en_name}}</div>
	            </div>
	            <div class="input-row">
	                <label>Sex</label>
	                <div class="input-text">{{stuInfo.stu_basic.stu_sex | sex}}</div>
	            </div>
	            <div class="input-row">
	                <label>No.</label>
	                <div class="input-text">{{stuInfo.stu_basic.stu_id}}</div>
	            </div>
	            <div class="input-row">
	                <label>Nationality</label>
	                <div class="input-text">{{stuInfo.stu_basic.stu_country}}</div>
	            </div>
	            <div class="input-row">
	                <label>Birth</label>
	                <div class="input-text">{{stuInfo.stu_basic.stu_birth.year}}-{{stuInfo.stu_basic.stu_birth.month}}-{{stuInfo.stu_basic.stu_birth.day}}</div>
	            </div>
	            
	            <div class="input-row">
	                <label>Grade</label>
	               <div class="input-text">{{stuInfo.stu_basic.stu_grade}}</div>
	            </div>
	            <div class="input-row">
	                <label>Application Form</label>
	            </div>
	            <div class="input-row input-row-son">
	                <label>Hobby</label>
	                <div class="input-text">{{stuInfo.stu_basic.intersts}}</div>
	            </div>
	            <div class="input-row input-row-son">
	                <label>Characteristic</label>
	                <div class="input-text">{{stuInfo.stu_basic.character}}</div>
	            </div>
	            <div class="input-row input-row-son">
	                <label>Expertation</label>
	                <div class="input-text">{{stuInfo.stu_basic.expectations}}</div>
	            </div>
	    	</div>
	    </div>
	</div>
</div>