<div class="edu-container">
	<div class="info-header">
		<span>Course: {{data.courseInfo.course_name}}</span>
		<span>Term: {{data.courseInfo.course_year}} {{data.courseInfo.course_session}}</span>
		<span>Schedule: {{data.courseInfo.course_weekday | numberToWeek}} {{data.courseInfo.start_time}}~{{data.courseInfo.end_time}}</span>
	</div>
	<div class="btns">
	    <div class="add-btn"><a href="#/stuAttendList/{{data.courseInfo.course_id}}">Attendance Sheet</a></div>
	</div>
	<div class="table-container">
		<table class="table table-striped" id="table">
			<thead>
				<tr>
					<td>Class No.</td>
					<td>Time</td>
					<td>Attendence</td>
					<td>Evaluation</td>
					<td>Class Note</td>
					<td>Operation</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in data.classes">
					<td>{{$index+1}}</td>
					<td>{{item.date}} {{item.start_time}}-{{item.end_time}}</td>
					<td><a href="#/teaStuAttend/{{item.id}}" ng-class="{'warning': !item.attend_state}">{{item.attend_state | checkAttend}}</a></td>
					<td><a href="#/homework/{{item.id}}" ng-class="{'warning': !item.comment_state}">{{item.comment_state | checkAttend}}</a></td>
					<td class="input-td" ng-class="{'editing': item.isEditing}"><input type="text" ng-model="item.note" ng-disabled="!item.isEditing"></td>
					<td class="operate-btns">
		    			<a href="javascript:void(0);" ng-click="modify($index)">{{'Edit' | editing: item.isEditing}}</a>
		    		</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
