<div class="operating-container">
	<div class="btns">
		<div my-select select-options="options.schools" which-school="filter.selectSchool" send-filter="sendFilter()">
		</div>
		<div class="add-btn" ng-hide="{{filter.authority != 0}}"><a href="javascript:void(0);" ng-click="addEmp()">添加员工</a></div>
	</div>
	<div class="table-container">
		<table class="table table-striped" id="table">
			<thead>
				<tr>
					<th width="220">校区</th>
					<th width="200">编号</th>
					<th width="200">姓名</th>
					<th width="200">职位</th>
					<!-- <th width="200">密码</th> -->
					<th ng-hide="{{filter.authority != 0}}" width="380">操作</th>
				</tr>		
			</thead>
			<tbody>
				<tr ng-repeat="emp in result">
					<td>{{emp.school}}</td>
					<td><a href="#/empInfo/{{emp.emp_id}}">{{emp.emp_id}}</a></td>
					<td><a href="#/empInfo/{{emp.emp_id}}">{{emp.emp_name}}</a></td>
					<td>{{emp.emp_job}}</td>
					<!-- <td>{{emp.emp_pwd}}</td> -->
					<td ng-hide="{{filter.authority != 0}}" class="operate-btns">
						<span ng-hide="{{emp.tag}}">
							<a href="javascript:void(0);" ng-click="resetPwd(emp.emp_id)">重置密码</a>
							<a href="#/modifyEmp/{{emp.emp_id}}">修改</a>
							<a class="btn-delete" href="javascript:void(0);" ng-click="deleteEmp(emp.emp_id)">离职</a>
						</span>
						<span ng-show="{{emp.tag}}" class="warning">已离职</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<tm-pagination conf="paginationConf"></tm-pagination>
</div>
