<div class="add-school-form">
	<div class="form-container">
		<div class="input-row">
            <label>校区名称</label>
            <div class="input-text"><input type="text" name="" placeholder="请输入校区名称" ng-model="schInfo.sch_name"/></div>
        </div>
        <div class="input-row">
            <label>校区地址</label>
            <div class="input-text"><input type="text" name="" placeholder="请输入校区地址" ng-model="schInfo.sch_ads"/></div>
        </div>
        <div class="input-row">
            <label>固话</label>
            <div class="input-text"><input type="text" name="" placeholder="请输入固话"  ng-model="schInfo.sch_phone"/></div>
        </div>
        <div class="submit-btn"><button type="button" ng-click="submitForm()">保存</button></div>
	</div>
</div>