<div class="school-container">
	<div class="btns">
		<div class="add-btn" ng-hide="{{emp_type.authority != 0}}"><a href="javascript:void(0);" ng-click="addSchool()">添加校区</a></div>
	</div>
	<div class="table-container">
	<table class="table table-striped" id="table">
		<thead>
			<tr>
				<th width="200">校区名称</th>
				<th width="600">地址</th>
				<th width="200">固话</th>
				<th width="200">操作</th>
			</tr>		
		</thead>
		<tbody>
			<tr ng-repeat="school in result">
				<td>{{school.sch_name}}</td>
				<td>{{school.sch_ads}}</td>
				<td>{{school.sch_phone}}</td>
				<td class="operate-btns">
					<a href="javascript:void(0);" ng-click="modifySchool(school.sch_id)">修改</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
</div>