<div class="select-container select-date-container">
    <div class="options">
        <div class="content-wrap">{{date.year | chooseForNone}}</div>
        <ul class="options-ul">
            <li data-type="year" ng-repeat="year in Year">{{year}}</li>
        </ul>
    </div>
    <i class="click-show-btn"></i>
</div>
<div class="select-container select-date-container">
    <div class="options">
        <div class="content-wrap">{{date.month | chooseForNone}}</div>
        <ul class="options-ul">
            <li data-type="month" ng-repeat="month in Month">{{month}}</li>
        </ul>
    </div>
    <i class="click-show-btn"></i>
</div>
<div class="select-container select-date-container">
    <div class="options">
        <div class="content-wrap">{{date.day | chooseForNone}}</div>
        <ul class="options-ul">
            <li data-type="day" ng-repeat="day in Day">{{day}}</li>
        </ul>
    </div>
    <i class="click-show-btn"</i>
</div>